In [1]:
import pandas as pd

In [2]:
final_columns = ['date','temperature_2m', 'wind_speed_10m', 'wind_direction_10m', 'latitude', 'longitude']

df = pd.read_csv('wind_gbk_12_coordinate_one_year_v1.csv')[final_columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11704 entries, 0 to 11703
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                11704 non-null  object
 1   temperature_2m      1606 non-null   float64
 2   wind_speed_10m      1606 non-null   float64
 3   wind_direction_10m  1606 non-null   float64
 4   latitude            11704 non-null  float64
 5   longitude           11704 non-null  float64
dtypes: float64(5), object(1)
memory usage: 548.8+ KB

In [4]:
df = df[df.wind_speed_10m.notnull()]

In [5]:
df

,date,temperature_2m,wind_speed_10m,wind_direction_10m,latitude,longitude
918,2025-04-04 20:00:00+07:00,28.454000,5.860375,280.619600,-6.219151,106.801624
919,2025-04-04 21:00:00+07:00,28.154000,3.600000,270.000000,-6.219151,106.801624
920,2025-04-05 20:00:00+07:00,27.054000,9.178235,318.179900,-6.219151,106.801624
921,2025-04-05 21:00:00+07:00,26.454000,11.592895,295.769260,-6.219151,106.801624
922,2025-04-06 20:00:00+07:00,25.254000,13.358861,165.963730,-6.219151,106.801624
...,...,...,...,...,...,...
11699,2025-06-13 21:00:00+07:00,28.010500,2.902413,82.875084,-6.218538,106.801346
11700,2025-06-14 20:00:00+07:00,26.310501,6.569383,99.462250,-6.218538,106.801346
11701,2025-06-14 21:00:00+07:00,26.010500,4.693825,85.601380,-6.218538,106.801346
11702,2025-06-15 20:00:00+07:00,28.160500,2.189795,99.462250,-6.218538,106.801346
11703,2025-06-15 21:00:00+07:00,27.860500,1.609969,153.435010,-6.218538,106.801346

## Data Analysis check

In [ ]:
df

## plotting Longitude and Latitude on maps

In [6]:
# !pip install geopandas
# # pip install 'geopandas[all]'

!conda install geopandas

^C

In [7]:
df[['latitude', 'longitude']]

       latitude   longitude
918   -6.219151  106.801624
919   -6.219151  106.801624
920   -6.219151  106.801624
921   -6.219151  106.801624
922   -6.219151  106.801624
...         ...         ...
11699 -6.218538  106.801346
11700 -6.218538  106.801346
11701 -6.218538  106.801346
11702 -6.218538  106.801346
11703 -6.218538  106.801346

[1606 rows x 2 columns]

In [8]:
type(df['latitude'])

pandas.core.series.Series

In [9]:
type(df[['latitude', 'longitude']])

pandas.core.frame.DataFrame

In [10]:
import geopandas
from geodatasets import get_path

help(get_path)

ModuleNotFoundError: No module named 'geodatasets'

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon

%matplotlib inline

In [ ]:
test = gpd.read_file('shape-file/KOTA_JAKARTA_PUSAT/ARENAOLAHRAGA_AR_25K.shp')

In [ ]:
import fiona

with fiona.open("shape-file/KOTA_JAKARTA_PUSAT/ARENAOLAHRAGA_AR_25K.shp", "r") as src:
    print(src.schema)
    for feature in src:
        print(feature)

In [ ]:
df

In [ ]:
import fiona
print(fiona.__version__)